<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form class="my-form" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm.value)">
         <mat-form-field class="full-width">
            <mat-label>User Name</mat-label>
            <input  matInput type="text" placeholder="username" formControlName="username">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput type="password" placeholder="Password" formControlName="password">
         </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button type="submit" color="primary">LOGIN</button>
         </mat-card-actions>
      </form>
   </mat-card-content>
   
</mat-card>