<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
   <mat-toolbar-row>
     <!--  <span>HOME</span> -->
      <a mat-button routerLink="/claims">Claims</a>
      <span class="spacer"></span>
      <div  *ngIf="!(auth.loggedIn | async)">
       <a mat-button routerLink="/login">Login</a>
      </div>
      <div  *ngIf="(auth.loggedIn | async)">
        <a mat-button (click)="onClickLogout()">Logout</a>
      </div>
      <a mat-button routerLink="/signup">Signup</a>
   </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
